.carousel-container{
  height: 5%;
}
header{
  background-color: black;
  width: 100%;
}
.navbar-container{
  width: 100%;
}

.carousel-item{
  height: 600px;
}
.carousel-item img{
  height: 600px;
  object-fit: cover;
}